<%= render 'layouts/header' %>
<br/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <table class="table table-bordered scroll">
        <thead>
          <tr>
            <th colspan="3" class="success">All Buyers on EthexIndia</th>
          </tr>
        </thead>
        <tbody class="scrollable">
          <tr class="heading">
            <td>Volume</td>
            <td>Price per ETH</td>
            <td>No. of Buyers</td>
          </tr>
          <%@buyers.each do |bid|%>
            <tr class="<%= 'success' if bid[0].to_i >= 20%>">
              <td><%=bid[0]%> ETH</td>
              <td>@ Rs <%=bid[1]%></td>
              <td><%=bid[2]%></td>
            </tr>
          <%end%>    
        </tbody>
      </table>
    </div>
    <div class="col-md-4">
      <table class="table table-bordered scroll">
        <thead>
          <tr>
            <th colspan="3" class="danger">All Sellers on EthexIndia</th>
          </tr>
        </thead>
        <tbody>
          <tr class="heading">
            <td>Volume</td>
            <td>Price per ETH</td>
            <td>No. of Sellers</td>
          </tr>
          <%@sellers.each do |ask|%>
            <tr class="<%= 'danger' if ask[0].to_i >= 20%>">
              <td><%=ask[0]%> ETH</td>
              <td>@ Rs <%=ask[1]%></td>
              <td><%=ask[2]%></td>
            </tr>
          <%end%>    
        </tbody>
      </table>
    </div>
    <div class="col-md-4">
      <table class="table table-bordered scroll">
        <thead>
          <tr>
            <th colspan="3" class="info">Last Trades on EthexIndia</th>
          </tr>
        </thead>
        <tbody>
          <tr class="heading">
            <td>Timestamp</td>
            <td>Volume @ Price</td>
          </tr>
          <%@trades.each do |trade|%>
            <tr class="<%= 'info' if trade['volume'].to_i >= 10%>">
              <td><%=trade["time"]%></td>
              <td><%=trade["volume"]%> ETH @ <%=trade["price"]%></td>
            </tr>
          <%end%>    
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <hr>
      <h4>Live Chart of EthexIndia</h4>
    <hr>
    <%= line_chart @trades.map{|trade| [trade["time"], trade['price']]}, xtitle: "Timestamp", ytitle: "ETH Price", 
                                      points: true, refresh: 1,tooltip: {
                                        headerFormat: '<b>hello</b><br>',
                                        pointFormat: '{point.x:%e. %b}: {point.y:.2f} m'}, 
                                      colors: ["#b00", "#666"], library: {backgroundColor: "#eee"} %>
  </div>
</div>

<%= %>
<script type="text/javascript">
$(document).ready(function(){
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-96148731-1', 'auto');
  ga('send', 'pageview');
});
</script>
